In [1]:
import pandas as pd

In [5]:
policy_uncertainty = pd.read_excel('../data/us_policy_uncertainty.xlsx', sheet_name='Main Index')
policy_uncertainty.head()

   Year  Month  Three_Component_Index  News_Based_Policy_Uncert_Index
0  1985    1.0             125.224739                      103.748802
1  1985    2.0              99.020813                       78.313202
2  1985    3.0             112.190506                      100.761482
3  1985    4.0             102.811325                       84.778870
4  1985    5.0             120.082726                       98.053658